name: build

on: [workflow_call, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        run: docker build ./builder --file Dockerfile --tag ${{ github.repository }}:latest

      - name: Run the Docker image
        run: docker run -i -e GITHUB_KEY=${{ secrets.GITHUB_TOKEN }} -e REPO=${{ github.repository }} ${{ github.repository }}:latest

