name: check new version

on:
  schedule:
   - cron:  '15,40 * * * *'

  workflow_dispatch:

jobs:
  check-new-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: check for new version
        run: |
          echo "Syncing fork repository from its parent..."
          gh repo sync javidizadi/linux-cachyos -b master
          set +e
          git pull | grep -q -e "^ ${{ env.PACKAGE_NAME }}\/"
          new_update=$?
          set -e
          if [ $new_update -eq 0 ]; then
            echo "New update available!"
            echo "NEW_UPDATE=TRUE" >> $GITHUB_OUTPUT
          else
            echo "No new update found."
            echo "NEW_UPDATE=FALSE" >> $GITHUB_OUTPUT
          fi


  call-build-workflow:
    needs: check-new-version
    if: ${{ needs.check-new-version.outputs.NEW_UPDATE == 'FALSE' }}
    uses: javidizadi/linux-cachyos/.github/workflows/build.yml@master
    with:
      package-name: "linux-cachyos"
    

env:
  GH_TOKEN: ${{ github.token }}
